.progress-nav__indicator {
  transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.progress-nav__btn-text {
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateY(0%) rotate(0.001deg);
}

.progress-nav__btn:hover .progress-nav__btn-text,
.progress-nav__contact-btn:hover .progress-nav__btn-text{
  transform: translateY(-100%) rotate(0.001deg);
}