[data-whatsapp-modal-qr-canvas]:has(svg) {
  background-color: transparent;
}

[data-whatsapp-modal-qr-canvas] svg rect {
  fill: transparent;
}

.whatsapp-modal__card {
  transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  transform: translateY(25%) rotate(0.001deg);
  opacity: 0;
  visibility: hidden;
}

[data-whatsapp-modal-status="active"] .whatsapp-modal__card {
  transform: translateY(0%) rotate(0.001deg);
  opacity: 1;
  visibility: visible;
}

.whatsapp-modal__dark {
  transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  opacity: 0;
  visibility: hidden;
}

[data-whatsapp-modal-status="active"] .whatsapp-modal__dark {
  opacity: 1;
  visibility: visible;
}

/* Hide link on non-touch devices */
[data-whatsapp-modal-btn] [data-whatsapp-modal-link] {
  display: none;
}

/* Hide modal on touch devices, and open link directly */
@media (hover: none) and (pointer: coarse) {
  [data-whatsapp-modal] {
    display: none;
  }
  
  /* Hide toggle button on touch devices */
  [data-whatsapp-modal-trigger] [data-whatsapp-modal-toggle] {
    display: none;
  }

  /* Show link on touch devices */
  [data-whatsapp-modal-trigger] [data-whatsapp-modal-link] {
    display: block;
  }
}